<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Babbage</title>
    <link rel="stylesheet" href="/css/babbage.css">

</head>

<body> <!-- Cuerpo. Todo el cotenido del sitio -->
    <header> <!-- Cabecera -->
        <div>
            <h1>Héroes Tecnológicos de la Programación</h1>
        </div>
        <section> <!-- Sección de contenido -->
            <nav> <!-- Barra de navegación -->
                <ul type="none"> <!-- lista desordenada -->
                    <li><a href="/">Home</a></li> <!-- Hipervinculo -->
                    <li><a href="/babbage">Charles Babbage</a></li>
                    <li><a href="/berners-lee">Tim Berners-lee</a></li>
                    <li><a href="clarke">Joan Clarke</a></li>
                    <li><a href="/hamilton">Margaret Hamilton</a></li>
                    <li><a href="/hopper">Grace Hopper</a></li>
                    <li><a href="/lovelace">Ada Lovelace</a></li>
                    <li><a href="/turing">Alan Turing</a></li>
                </ul>
            </nav>
        </section>
    </header>
    <main> <!-- Contenido principal -->
        <section>
            <h2>Charles Babbage</h2>
            <img src="/img/babbage.jpg" alt="Charles Babbage" width="250">
            <p> <!-- Párrafo -->
                El matemático Charles Babbage (1791-1871) es célebre en la actualidad sobre todo por las calculadoras
                mecánicas que diseñó hace ya casi doscientos años. La segunda de ellas, la llamada “Máquina Analítica”,
                hubiera sido la primera computadora del mundo si el inventor inglés la hubiera podido terminar de
                construir. Aparte de los diagramas de esas máquinas, hoy conservados en museos, Babbage nos legó algunas
                breves descripciones, por ejemplo, en Sobre la Economía de la Maquinaria y las Manufacturas, un volumen
                de 350 páginas que es realmente un subproducto de su preocupación por el cálculo mecánico, pero también
                un clásico de la literatura sobre la revolución industrial.
            </p>
        </section>
    </main>
    <footer> <!-- Pie de página -->
        <div>
            <h5>DH HEROES</h5>
        </div>
    </footer>
</body>

</html>