<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clarke</title>
    <link rel="stylesheet" href="/css/clarke.css">

</head>

<body> <!-- Cuerpo. Todo el cotenido del sitio -->
    <header> <!-- Cabecera -->
        <div>
            <h1>Héroes Tecnológicos de la Programación</h1>
        </div>
        <section> <!-- Sección de contenido -->
            <nav> <!-- Barra de navegación -->
                <ul type="none"> <!-- lista desordenada -->
                    <li><a href="/">Home</a></li> <!-- Hipervinculo -->
                    <li><a href="/babbage">Charles Babbage</a></li>
                    <li><a href="/berners-lee">Tim Berners-lee</a></li>
                    <li><a href="clarke">Joan Clarke</a></li>
                    <li><a href="/hamilton">Margaret Hamilton</a></li>
                    <li><a href="/hopper">Grace Hopper</a></li>
                    <li><a href="/lovelace">Ada Lovelace</a></li>
                    <li><a href="/turing">Alan Turing</a></li>
                </ul>
            </nav>
        </section>
    </header>
    <main> <!-- Contenido principal -->
        <section>
            <h2>Joan Clarke</h2>
            <img src="/img/JoanClarke.jpg" alt="Joan Clarke" width="250">
            <p> <!-- Párrafo -->
                Joan Elisabeth Lowther Clarke (Londres, 24 de junio de 1917 – Oxford, 4 de septiembre de 1996) fue una
                criptoanalista y numismática británica que trabajó en Bletchley Park durante la Segunda Guerra Mundial.
                Fue la única mujer que trabajó en el equipo del matemático Alan Turing en el proyecto Enigma, que
                desencriptó las comunicaciones secretas de la Alemania nazi. Su papel en este proceso le valió premios y
                citaciones, como el nombramiento como miembro de la Orden del Imperio Británico (MBE), en 1946.
            </p>
        </section>
    </main>
    <footer> <!-- Pie de página -->
        <div>
            <h5>DH HEROES</h5>
        </div>
    </footer>
</body>

</html>