<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hopper</title>
    <link rel="stylesheet" href="/css/hopper.css"> <!-- Vinculación css -->

</head>

<body> <!-- Cuerpo. Todo el cotenido del sitio -->
    <header> <!-- Cabecera -->
        <div>
            <h1>Héroes Tecnológicos de la Programación</h1>
        </div>
        <section> <!-- Sección de contenido -->
            <nav> <!-- Barra de navegación -->
                <ul type="none"> <!-- lista desordenada -->
                    <li><a href="/">Home</a></li> <!-- Hipervinculo -->
                    <li><a href="/babbage">Charles Babbage</a></li>
                    <li><a href="/berners-lee">Tim Berners-lee</a></li>
                    <li><a href="clarke">Joan Clarke</a></li>
                    <li><a href="/hamilton">Margaret Hamilton</a></li>
                    <li><a href="/hopper">Grace Hopper</a></li>
                    <li><a href="/lovelace">Ada Lovelace</a></li>
                    <li><a href="/turing">Alan Turing</a></li>
                </ul>
            </nav>
        </section>
    </header>
    <main> <!-- Contenido principal -->
        <section>
            <h2>Grace Hopper</h2>
            <img src="/img/Grace Hopper.png" alt="Grace Hopper" width="250">
            <p> <!-- Párrafo -->
                Grace Murray Hopper (Nueva York, 9 de diciembre de 1906 - Condado de Arlington, 1 de enero de 1992) fue
                una científica de la computación y militar estadounidense con grado de contraalmirante. Fue pionera en
                el mundo de las ciencias de la computación y la primera programadora que utilizó el Mark I. Entre las
                décadas de los 50 y 60 desarrolló el primer compilador para un lenguaje de programación así como también
                propició métodos de validación. Popularizó la idea de los lenguajes de programación independientes de la
                máquina, lo que derivó en el desarrollo de COBOL, un lenguaje de alto nivel de programación que aún se
                utiliza.
            </p>
        </section>
    </main>
    <footer> <!-- Pie de página -->
        <div>
            <h5>DH HEROES</h5>
        </div>
    </footer>
</body>

</html>