<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body> <!-- Cuerpo. Todo el cotenido del sitio -->
    <header> <!-- Cabecera -->
        <div>
            <h1>Héroes Tecnológicos de la Programación</h1>
        </div>
        <section> <!-- Sección de contenido -->
            <nav> <!-- Barra de navegación -->
                <ul type="none"> <!-- lista desordenada -->
                    <li><a href="/">Home</a></li> <!-- Hipervinculo -->
                    <li><a href="/babbage">Charles Babbage</a></li>
                    <li><a href="/berners-lee">Tim Berners-lee</a></li>
                    <li><a href="clarke">Joan Clarke</a></li>
                    <li><a href="/hamilton">Margaret Hamilton</a></li>
                    <li><a href="/hopper">Grace Hopper</a></li>
                    <li><a href="/lovelace">Ada Lovelace</a></li>
                    <li><a href="/turing">Alan Turing</a></li>
                </ul>
            </nav>
        </section>
    </header>
    <main> <!-- Contenido principal -->
        <section>
            <img src="/img/heroes.png" alt="Heroes" width="1200">
        </section>
    </main>
    <footer> <!-- Pie de página -->
        <div>
            <h5>DH HEROES</h5>
        </div>
    </footer>
</body>

</html>