<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turing</title>
    <link rel="stylesheet" href="/css/turing.css"> <!-- Vinculación css -->

</head>

<body> <!-- Cuerpo. Todo el cotenido del sitio -->
    <header> <!-- Cabecera -->
        <div>
            <h1>Héroes Tecnológicos de la Programación</h1>
        </div>
        <section> <!-- Sección de contenido -->
            <nav> <!-- Barra de navegación -->
                <ul type="none"> <!-- lista desordenada -->
                    <li><a href="/">Home</a></li> <!-- Hipervinculo -->
                    <li><a href="/babbage">Charles Babbage</a></li>
                    <li><a href="/berners-lee">Tim Berners-lee</a></li>
                    <li><a href="clarke">Joan Clarke</a></li>
                    <li><a href="/hamilton">Margaret Hamilton</a></li>
                    <li><a href="/hopper">Grace Hopper</a></li>
                    <li><a href="/lovelace">Ada Lovelace</a></li>
                    <li><a href="/turing">Alan Turing</a></li>
                </ul>
            </nav>
        </section>
    </header>
    <main> <!-- Contenido principal -->
        <section>
            <h2>Alan Turing</h2>
            <img src="/img/turingAlan.jpeg" alt="Alan Turing" width="250">
            <p> <!-- Párrafo -->
                Alan Mathison Turing (Paddington, Londres; 23 de junio de 1912-Wilmslow, Cheshire; 7 de junio de 1954),
                fue un matemático, lógico, informático teórico, criptógrafo, filósofo, biólogo teórico, maratoniano y
                corredor de ultradistancia británico. Es considerado uno de los padres de la ciencia de la computación y
                precursor de la informática moderna. Proporcionó una influyente formalización de los conceptos de
                algoritmo y computación: la máquina de Turing. Formuló su propia versión que hoy es ampliamente aceptada
                como la tesis de Church-Turing (1936). En el campo de la inteligencia artificial, es conocido sobre todo
                por la concepción de la prueba de Turing (1950), un criterio según el cual puede juzgarse la
                inteligencia de una máquina si sus respuestas en la prueba son indistinguibles de las de un ser humano.
            </p>
        </section>
    </main>
    <footer> <!-- Pie de página -->
        <div>
            <h5>DH HEROES</h5>
        </div>
    </footer>
</body>

</html>